.see-btn {
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 18px;
    border: 2px solid #ff4154;
    transition: .2s linear;
}

.see-btn:hover {
    color: white;
    background-color: #ff4154;
}