/* From  @Tiagoadag */
.inventory-card {
    width: 55%;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    color: white;
}

/* .card2 {
    width: 100%;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
} */

.inventory-card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.form-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inventory-btn {
    background-color: rgb(175, 182, 182);
    border: 2px solid #023047;
}

.inventory-btn:hover {
    color: white;
    background-color: #023047;
}

.deliver-btn {
    color: white;
    background-color: #02304786;
    border: 2px solid #02304786;
    padding: 10px 35px;
    border-radius: 30px;
    transition: .2s linear;
}

.deliver-btn:hover {
    background-color: #023047;
}



.inventory-see {
    background-color: rgb(230, 243, 243);
}

@media screen and (max-width: 668px) {
    .inventory-card {
        width: 92%;
    }

    .form-parent {
        display: flex;
        flex-direction: column;
        align-items: center
    }

}